<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
  
<mapper namespace="dao.UserDao" >  
  <select id="selectUserBylogin" parameterType="map" resultType="model.User">
  SELECT* FROM user WHERE email = #{email} AND password = #{password};
  </select>
    
  <insert id="insertUser" parameterType="model.User" useGeneratedKeys="true" keyProperty="id" >  
   INSERT INTO user VALUES('1111', '', 0, '2018-12-31 00:00:00', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, #{email},#{password});
  </insert>   
    
</mapper>